* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Barlow Condensed';
  scroll-behavior: smooth;
  list-style: none;
}

a{
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* END OF CSS RESET */

/* FONT TYPE PROPERTIES */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* END OF FONT TYPE PROPERTIES */

/* ICONS PROPERTIES */

@import url('https://css.gg/css');

/* END OF ICONS PROPERTIES */

/* COLOR PALETTE */

:root{
  --primaryColor: #1f2024;
  --secondaryColor: #2dbce9;
  --textColor: #f4f4f4;
  --btnColor: #ff0a54;
}

/* END OF COLOR PALETTE */

/* FONT CSS PROPERTIES */

h3{
  color: var(--secondaryColor);
  font-family: 'Barlow Condensed';
  font-size: 32px;
  font-weight: 600;
}

li{
  color: var(--textColor);
  font-family: 'Barlow Condensed';
  font-size: 22px;
  font-weight: 400;
}

.logo{
  color: var(--textColor);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

/* END OF FONT CSS PROPERTIES */


/* BUTTON CSS PROPERTIES */

button{
  background-color: var(--btnColor);
  color: var(--primaryColor);
  width: 150px;
  margin: 0px 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.login-btn{
  background-color: var(--textColor);
  width: 100px;
}

/* END OF BUTTON CSS PROPERTIES */

/* WRAPPER CSS PROPERTIES */

.wrapper{
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
}

/* END OF WRAPPER CSS PROPERTIES */


/* HEADER CSS PROPERTIES */

header{
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* END OF HEADER CSS PROPERTIES */


/* NAVIGATION CSS PROPERTIES */

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  margin: 10px;
}

/* END OF NAVIGATION CSS PROPERTIES */

/* PRODUCT LIST CSS PROPERTIES */

.productList{
  background-color: var(--primaryColor);
  padding: 10px 0px;

}

#product-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}

/* END OF PRODUCT LIST CSS PROPERTIES */


/* PRODUCT CARD CSS PROPERTIES */

.productCard{
  background-color: var(--textColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
}

.productCardInfo{
  width: 100%;
  padding: 5px;
}

.productCardInfo h2{
  font-size: 2rem;
  font-weight: 700;
}

.productCardInfo h4{
  font-size: 1.5rem;
  font-weight: 500;
}

/* END OF PRODUCT CARD CSS PROPERTIES */

/*FOOTER CSS PROPERTIES */

footer{
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em 0;
}

/* END OF FOOTER CSS PROPERTIES */
